footer 
    .container 
        .content: p هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق. إذا كنت تحتاج إلى عدد أكبر من الفقرات يتيح لك مولد النص العربى زيادة عدد الفقرات كما تريد. 
        .sitemap 
            h2 خريطة الموقع 
            ul 
                li: a(href="/") الرئيسية
                li: a(href="/about") حول
                li: a(href="/activities") النشاطات
                li: a(href="/courses") الدروس
                li: a(href="/group") المجموعة
                li: a(href="/contact") التواصل 
                li: a(href="") الاساتذة
                li: a(href="") الطلاب
        .contact
            h2 تواصل معنا 
            div 
                |جامعة محمد البشير الابراهيمي #[br]
                |برج بوعريريج العناصر؛ 34030 الجزائر #[br]
                |البريد الالكتروني: #[a(href="") univ@domain.com] #[br]
                |الهاتف: #[a(href="") +035 1234 345]
    .copyright محمد البشير الابراهيمي #[dbi 2022 &copy;] جميع الحقوق محفوظة