footer 
    .container 
        .content: p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque, accusamus. Iure, modi illum exercitationem adipisci aspernatur repudiandae enim esse praesentium beatae numquam repellat incidunt atque minus, excepturi doloribus obcaecati id dolorum quia aliquid. Dolor temporibus, quae odit quaerat excepturi accusamus!
        .sitemap 
            h2 Sitemap 
            ul 
                li: a(href="/") Home
                li: a(href="/about") About
                li: a(href="/activities") Activities
                li: a(href="/courses") Lessons
                li: a(href="/group") Group
                li: a(href="/contact") Contact 
                li: a(href="") Professors  
                li: a(href="") Students
        .contact
            h2 Contact Us 
            div 
                |University Mohammed Bachir Ibrahimi #[br]
                |Bordj Bou Arreridj El-Anasser, 34030 Algérie. #[br]
                |Email: #[a(href="") univ@domain.com] #[br]
                |Tel: #[a(href="") +035 1234 345]
    .copyright Mohammed Bachir Ibrahimi - 2022 &copy; All Rights Reserved