footer 
    .container 
        .content: p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque, accusamus. Iure, modi illum exercitationem adipisci aspernatur repudiandae enim esse praesentium beatae numquam repellat incidunt atque minus, excepturi doloribus obcaecati id dolorum quia aliquid. Dolor temporibus, quae odit quaerat excepturi accusamus!
        .sitemap 
            h2 Siteplan 
            ul 
                li: a(href="/") Accueil
                li: a(href="/about") A Propos
                li: a(href="/activities") Activités
                li: a(href="/courses") Cours
                li: a(href="/group") Groupe
                li: a(href="/contact") Contact 
                li: a(href="") Professeurs  
                li: a(href="") Étudiants
        .contact
            h2 Nous Contacter
            div 
                |University Mohammed Bachir Ibrahimi #[br]
                |Bordj Bou Arreridj El-Anasser, 34030 Algérie. #[br]
                |Email: #[a(href="") univ@domain.com] #[br]
                |Tel: #[a(href="") +035 1234 345]
    .copyright Mohammed Bachir Ibrahimi - 2022 &copy; Tous les Droits sont Réservés