doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        title University - Dashboard
        link(rel="shortcut icon", href="/images/favicon.ico", type="image/x-icon")
        link(rel="stylesheet", href="/css/global.css")
        link(rel="stylesheet", href="/css/admin.dashboard.css")
    body 
        .note 
            i &#xE934;
            span This Page is Still under Development
            i &#xE934;
        .dashboard
            h2 Admin Dashboard
            h3 When the Page is finished Developing, Admin will be able to: 
            ul.parent 
                li Access Contact Messages 
                li See full Statistics & charts of the Admin's Faculty
                li Carry out CRUD Operations (Create Read Update Delete) on: 
                    ul.child 
                        li Activities 
                        li Modules 
                        li Teachers 
                        li Students