doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        title University - Admin
        link(rel="shortcut icon", href="/images/favicon.ico", type="image/x-icon")
        link(rel="stylesheet", href="/css/global.css")
        link(rel="stylesheet", href="/css/admin.css")
    body 
        .admin 
            h2 Admin Login 
            form.form(action="/admin" method="POST")
                select(name="faculty")
                    option(hidden) Select your Faculty
                    each facult in faculties
                        option(value=facult.name)=facult.name
                    else 
                        option(disabled) No Faculties Found!
                input(type="text" placeholder="Username" name="username" required)
                input(type="password" placeholder="Password" name="password" required)
                input(type="submit")
                if (loginErr)
                    .err=loginErr
