doctype html
html(lang="ar" dir="rtl")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title الجامعة - حول
        link(rel="shortcut icon", href="/images/favicon.ico", type="image/x-icon")
        link(rel="stylesheet", href="/css/global.css")
        link(rel="stylesheet", href="/css/global-rtl.css")
        link(rel="stylesheet", href="/css/about.css")
        link(rel="stylesheet", href="/css/about-rtl.css")
    body 
        .body-overlay
        include includes/ar-nav
        .about 
            .container 
                .about-text
                    h2 معلومات عن جامعتنا
                    p هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق. إذا كنت تحتاج إلى عدد أكبر من الفقرات يتيح لك مولد النص العربى زيادة عدد الفقرات كما تريد، النص لن يبدو مقسما ولا يحوي أخطاء لغوية، مولد النص العربى مفيد لمصممي المواقع على وجه الخصوص، حيث يحتاج العميل فى كثير من الأحيان أن يطلع على صورة حقيقية لتصميم الموقع.
                hr
                .depts 
                    h2 الأقسام
                    .depts-content
                        .dept 
                            img(src="/images/depts/computer-science.png" alt="icon")
                            h3 اعلام الي 
                        .dept 
                            img(src="/images/depts/math.png" alt="icon")
                            h3 الرياضيات 
                        .dept 
                            img(src="/images/depts/accounting.png" alt="icon")
                            h3 المحاسبة 
                        .dept 
                            img(src="/images/depts/sports.png" alt="icon")
                            h3 الرياضة 
                        .center
                        .dept 
                            img(src="/images/depts/technology.png" alt="icon")
                            h3 علوم وتكنولوجيا 
                        .dept 
                            img(src="/images/depts/biology.png" alt="icon")
                            h3 علم الأحياء 
                        .dept 
                            img(src="/images/depts/law.png" alt="icon")
                            h3 القانون 
                        .dept 
                            img(src="/images/depts/learning-material.png" alt="icon")
                            h3 اللغات 
                hr
                .gallery-text
                    h2 معرض الصور 
                    p نأمل أن تعطيك هذه الصور فكرة عن جامعتنا
                .gallery 
                    .images 
                        img(src="/images/gallery/image (10).jpg" data-counter="0" alt="Gallery image")
                        img(src="/images/gallery/image (8).jpg" data-counter="1" alt="Gallery image" class="middle")
                        img(src="/images/gallery/image (9).jpg" data-counter="2" alt="Gallery image" )
                        img(src="/images/gallery/image (7).jpg" data-counter="3" alt="Gallery image" )
                        img(src="/images/gallery/image (1).jpg" data-counter="4" alt="Gallery image" class="middle")
                        img(src="/images/gallery/image (2).jpg" data-counter="5" alt="Gallery image" )
                        img(src="/images/gallery/image (3).jpg" data-counter="6" alt="Gallery image" )
                        img(src="/images/gallery/image (4).jpg" data-counter="7" alt="Gallery image" class="middle")
                        img(src="/images/gallery/image (6).jpg" data-counter="8" alt="Gallery image" )
                    .popup 
                        .image
                            a.left
                            a.right 
                            img(src="" alt="image" width="" height="")
                        .text
                            p صورة رقم #[span 1] من 9 
                            .close
        if (user && user.userType === 'Student')
            - user.password = ''
            script const user = !{JSON.stringify(user)}
            script(src="/socket.io/socket.io.js")
            script(src="/js/notifications.js")
        include includes/ar-footer
        script(src="/js/gallery.js") 
