doctype html
html(lang="ar" dir="rtl")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title الجامعة - التواصل
        link(rel="shortcut icon", href="/images/favicon.ico", type="image/x-icon")
        link(rel="stylesheet", href="/css/global.css")
        link(rel="stylesheet", href="/css/global-rtl.css")
        link(rel="stylesheet", href="/css/contact.css")
        link(rel="stylesheet", href="/css/contact-rtl.css")
        script(src="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.js")
        link(rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.css")
    body 
        include includes/ar-nav
        .contact-us
            .container 
                h2 معلومات الإتصال
                .contact-info 
                    .info
                        i &#xECD6;
                        bdi BBA Anasser 34030 Algeria
                    .info
                        i &#xECE5;
                        bdi +035 1234 345
                    .info
                        i &#xEB96;
                        bdi univ.bba@domain.com
                    .info
                        i &#xF268;
                        bdi www.univ@domain.com
                h2 نموذج الإتصال
                form.contact-form(action="/contact" method="POST")
                    .left
                        .custom
                            input(type="text" placeholder="الاسم" name="fName")
                            input(type="text" placeholder="اللقب" name="lName")
                        input(type="tel" placeholder="الهاتف" name="tel")
                        input(type="email" placeholder="البريد الالكتروني*" name="email" required)
                        input(type="text" placeholder="الموضوع*" name="subject" required)
                    .right
                        textarea(placeholder="الرسالة...*" name="message" required)
                        input(type="submit" value="إرسال")
                .map #[h2 الموقع على الخريطة] #[#map]
        if (user && user.userType === 'Student')
            - user.password = ''
            script const user = !{JSON.stringify(user)}
            script(src="/socket.io/socket.io.js")
            script(src="/js/notifications.js")
        include includes/ar-footer
        script(src="/js/map.js")