doctype html
html(lang="ar" dir="rtl")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title الجامعة
        link(rel="shortcut icon", href="/images/favicon.ico", type="image/x-icon")
        link(rel="stylesheet", href="/css/global.css")
        link(rel="stylesheet", href="/css/global-rtl.css")
        link(rel="stylesheet", href="/css/home.css")
        link(rel="stylesheet", href="/css/home-rtl.css")
    body 
        include includes/ar-nav
        header 
            .container
                h1 جامعة محمد البشير الإبراهيمي
                p هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق. إذا كنت تحتاج إلى عدد أكبر من الفقرات يتيح لك مولد النص العربى زيادة عدد الفقرات كما تريد، النص لن يبدو مقسما ولا يحوي أخطاء لغوية، مولد النص العربى مفيد لمصممي المواقع على وجه الخصوص، حيث يحتاج العميل فى كثير من الأحيان أن يطلع على صورة حقيقية لتصميم الموقع.
        svg(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1440 126" xml:space="preserve")
                path(d="M685.6,38.8C418.7-11.1,170.2,9.9,0,30v96h1440V30C1252.7,52.2,1010,99.4,685.6,38.8z")
        .login 
            .container
                if (!user)
                    .box 
                        .left: div
                            img(src="/images/login.jpg" alt="login" width="120" height="120")
                            h2 تسجيل الدخول
                            |إذا كنت طالبًا أو مدرسًا ، يمكنك الحصول على معلومات تسجيل الدخول الخاصة بك من إدارة الجامعة. #[br]
                            |غير ذلك فنحن نرحب بك لتصفح موقعنا كضيف مما يعني أنك لست مضطرًا لتسجيل الدخول. شكرا!
                        form.right(action="/" method="POST") 
                            h3 اختر نوع الحساب
                            input(class="hidden" type="radio" id="teacher" name="account" value="Teachers" checked)
                            label(for="teacher")
                                img(src="/images/teacher.png" alt="Teacher")
                                h5 أستاذ
                            input(class="hidden" type="radio" id="student" name="account" value="Students")
                            label(for="student")
                                img(src="/images/student.png" alt="Teacher")
                                h5 طالب
                            .clear
                            .inputs
                                div
                                    input(type="text" placeholder="اسم المستخدم" name="username" required)
                                    i &#xEC92;
                                div
                                    input(type="password" placeholder="كلمة المرور" name="password" required)
                                    i &#xECB3;
                                if (loginErr)
                                    div.err= loginErr
                                input(type="submit" value="تسجيل")
                else 
                    .user-box 
                        p 
                            |أنت الان 
                            span مسجل دخولك 
                            |بصفة 
                            span: bdi #{user.userType}
                            br 
                            |يتيح لك هذا الوصول إلى 
                            span الدروس 
                            |و  
                            span المجموعة 
                            |التي تمت إضافتهما تلقائيًا إلى 
                            span شريط التصفح 
                            |أعلاه، يمكنك تفقدها الان
                        h2 #{user.username}
        if (user && user.userType === 'Student')
            - user.password = ''
            script const user = !{JSON.stringify(user)}
            script(src="/socket.io/socket.io.js")
            script(src="/js/notifications.js")
        include includes/ar-footer