doctype html
html(lang="fr")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Université
        link(rel="shortcut icon", href="/images/favicon.ico", type="image/x-icon")
        link(rel="stylesheet", href="/css/global.css")
        link(rel="stylesheet", href="/css/home.css")
    body 
        include includes/fr-nav
        header 
            .container
                h1 Mohammed Bachir Ibrahimi Université
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit laboriosam quo dolores aspernatur blanditiis temporibus ipsa recusandae, quibusdam consectetur at magni et vel, tempora unde nulla debitis architecto deserunt nihil libero illo nemo in rerum perferendis! Quaerat iste hic suscipit natus odio excepturi amet accusamus placeat explicabo totam commodi facilis impedit sit omnis libero, magnam id. Est accusamus dolor nulla.
        svg(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1440 126" xml:space="preserve")
                path(d="M685.6,38.8C418.7-11.1,170.2,9.9,0,30v96h1440V30C1252.7,52.2,1010,99.4,685.6,38.8z")
        .login 
            .container
                if (!user)
                    .box 
                        .left: div
                            img(src="/images/login.jpg" alt="login" width="120" height="120")
                            h2 Connexion
                            |si vous êtes un étudiant ou un enseignant, vous pouvez obtenir vos informations de connexion auprès de l'administration de l'université. #[br]
                            |Sinon, vous êtes invités à naviguer sur notre site Web en tant qu'invité, ce qui signifie que vous n'avez pas à vous connecter. Merci!
                        form.right(action="/" method="POST") 
                            h3 Choisissez le Type de Compte
                            input(class="hidden" type="radio" id="teacher" name="account" value="Teachers" checked)
                            label(for="teacher")
                                img(src="/images/teacher.png" alt="Teacher")
                                h5 Professeur
                            input(class="hidden" type="radio" id="student" name="account" value="Students")
                            label(for="student")
                                img(src="/images/student.png" alt="Teacher")
                                h5 Étudiant
                            .clear
                            .inputs
                                div
                                    input(type="text" placeholder="Nom d'utilisateur" name="username" required)
                                    i &#xEC92;
                                div
                                    input(type="password" placeholder="Mot de Passe" name="password" required)
                                    i &#xECB3;
                                if (loginErr)
                                    div.err= loginErr
                                input(type="submit" value="Soumettre")
                else 
                    .user-box 
                        p 
                            |Vous êtes #[span connecté] en tant que #[span #{user.userType}]
                            br 
                            |Cela vous donne accès aux #[span Cours] et au #[span Groupe] qui a été automatiquement ajouté à la #[span Barre de Navigation] en haut, Vous pouvez le vérifier maintenant
                        h2 #{user.username}
        if (user && user.userType === 'Student')
            - user.password = ''
            script const user = !{JSON.stringify(user)}
            script(src="/socket.io/socket.io.js")
            script(src="/js/notifications.js")
        include includes/fr-footer